root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 2
max_line_length = 200

[.turbo]
generated_code = true
ij_formatter_enabled = false

[*.{js,ts,json,yml}]
ij_editorconfig_space_after_comma = true
ij_any_space_after_colon = true
ij_yaml_sequence_on_new_line = false
ij_json_array_wrapping = off
ij_json_object_wrapping = off
ij_json_spaces_within_braces = false
ij_json_spaces_within_brackets = false
ij_json_wrap_long_lines = false

[*.{js,ts}]
ij_typescript_enforce_trailing_comma = whenmultiline
ij_javascript_enforce_trailing_comma = whenmultiline
ij_typescript_use_semicolon_after_statement = true
ij_javascript_use_semicolon_after_statement = true

ij_javascript_use_double_quotes = false
ij_javascript_force_quote_style = true

ij_typescript_use_double_quotes = false
ij_typescript_force_quote_style = true

trim_trailing_whitespace = true

[*.{java,kt,kts}]
indent_style = space
indent_size = 2
