.idea
.git
.yarn
.turbo
.cache
.local-pack
.npm.work
*.iml
node_modules
build/**
dist/**
dist
lib/**
lib
.next/**
.target_test
*.log
target
.performance-profile.json
.profiling
.test
coverage/
.DS_Store
